<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member View</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
</head>
<body>
    <header th:insert="~{header :: copy (isAuthenticated=${isAuthenticated}, isAdmin=${isAdmin}, username=${member.username})}"></header>
    <section>
        <div class = "container">
            <h2 class="mainHeader">Subscriptions</h2>
            <div th:each="subscription : ${subscription_page.content}">
                <form th:action="@{/admin/deleteSubscription}" th:method="delete" th:object="${subscription}">
                    <input type="hidden" name="text" th:value="*{text}" th:text="*{text}"/>
                </form>
            </div>
            <div class="pageSelect">
                <a th:if="${subscription_page.metadata.hasPrevious}" class="leftArrow"
                   th:href="@{/admin(subscriptionPage=${subscription_page.metadata.number} - 1)}">&#10140;
                </a>
                <a th:if="${subscription_page.metadata.hasNext}" class="rightArrow"
                   th:href="@{/admin(subscriptionPage=${subscription_page.metadata.number} + 1)}">&#10140;
                </a>
            </div>
        </div>
    </section>
</body>
</html>
