<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin View</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
</head>
<body>
    <header th:insert="~{header :: copy (isAuthenticated=${isAuthenticated}, isAdmin=${isAdmin}, username=${member.username})}"></header>
    <section>
        <div class = "container">
            <h3 class="mainHeader">Members</h3>
            <div th:each="user : ${member_page.content}" class="deleteForm">
                <form th:action="@{/admin/deleteMember}" th:method="delete" th:object="${user}">
                    <input type="hidden" name="username" th:value="*{username}" th:text="*{username}"/>
                    <button type="submit" class="deleteButton">&#x00d7;</button>
                </form>
            </div>
            <div class="pageSelect">
                <a th:if="${member_page.metadata.hasPrevious}" class="leftArrow"
                   th:href="@{/admin(memberPage=${member_page.metadata.number} - 1, subscriptionPage=${subscription_page.metadata.number})}">&#10140;
                </a>
                <a th:if="${member_page.metadata.hasNext}" class="rightArrow"
                   th:href="@{/admin(memberPage=${member_page.metadata.number} + 1, subscriptionPage=${subscription_page.metadata.number})}">&#10140;
                </a>
            </div>
            <p id="error" th:if="${param.error}" th:text="${param.error}">error</p>
            <br>
            <h3 class="mainHeader">Subscriptions</h3>
            <div th:each="subscription : ${subscription_page.content}" class="deleteForm">
                <form th:action="@{/admin/deleteSubscription}" th:method="delete" th:object="${subscription}">
                    <input type="hidden" name="text" th:value="*{text}" th:text="*{text}"/>
                    <button type="submit" class="deleteButton">&#x00d7;</button>
                </form>
            </div>
            <div class="pageSelect">
                <a th:if="${subscription_page.metadata.hasPrevious}" class="leftArrow"
                   th:href="@{/admin(subscriptionPage=${subscription_page.metadata.number} - 1, memberPage=${member_page.metadata.number})}">&#10140;
                </a>
                <a th:if="${subscription_page.metadata.hasNext}" class="rightArrow"
                   th:href="@{/admin(subscriptionPage=${subscription_page.metadata.number} + 1, memberPage=${member_page.metadata.number})}">&#10140;
                </a>
            </div>
        </div>
    </section>
    <footer th:replace="~{footer :: footer}"></footer>
</body>
</html>
