<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login View</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div class="hero">
        <div class="header">
            <a href="/">
                <img src="/logo.svg" alt="logo"/>
            </a>
            <h1>JOB SCANNER</h1>
        </div>
        <form th:action="@{#}" method="post" th:object="${user}">
            <label for="username"></label>
            <input id="username" type="text" name="username" placeholder="Username" th:field="*{username}"/>
            <br/>
            <label for="password"></label>
            <input id="password" type="password" name="password" placeholder="Password" th:field="*{password}"/>
            <br/>
            <button type="submit" class="heroButton">LOGIN</button>
            <p>Not a member? <a href="/auth/join">Join</a></p>
        </form>
        <p id="error" th:if="${param.error}" th:text="${param.error}">error</p>
    </div>
</body>
</html>
