<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member View</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap">
</head>
<body>
    <header th:insert="~{header :: copy (isAuthenticated=${isAuthenticated}, username=${member.username})}"></header>
    <section>
            <div class = "container">
                <p>Your subscriptions on vacancies</p>
                <div th:each="subscription : ${member.subscriptions}">
                    <form th:action="@{/member/removeSubscription}" method="post" th:object="${subscription}">
                        <input type="hidden" name="text" th:value="*{text}" th:text="*{text}" class = "iin"/>
                        <button type="submit" class="deleteButton">+</button>
                    </form>
                </div>
                <form th:action="@{/member/addSubscription}" method="post" th:object="${subscription}">
                    <label for="subscription"></label>
                    <input id="subscription" type="text" name="subscription" th:value="*{text}" placeholder="add vacancy"/>
                    <span class="rightContent">
                        <button type="submit" class="addButton">+</button>
                    </span>
                </form>
            </div>
    </section>
</body>
</html>
