<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member View</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap">
</head>
<body>
    <header th:insert="~{header :: copy (isAuthenticated=${isAuthenticated}, username=${member.username})}"></header>
    <section>
            <div class = "container">
                <h2>Your Profile</h2>
                <form th:action="@{/member/addChatId}" method="post" th:object="${chat}">
                    <label for="chatId"></label>
                    <input id="chatId" type="number" name="chatId" th:field="*{telegramChatId}"
                           th:placeholder="${member.telegramChatId != null} ? ${member.telegramChatId} : 'add chat id'">
                    <span class="rightContent">
                        <button type="submit" class="addButton">+</button>
                    </span>
                </form>
                <p>
                    To receive Telegram notifications about new vacancies, contact
                    <a href="https://t.me/job_scanner_bot" class="botLink">@job_scanner_bot</a>
                    and get chat id
                </p>
                <br>
                <h2 class>Your subscriptions</h2>
                <div th:each="subscription : ${member.subscriptions}">
                    <form th:action="@{/member/removeSubscription}" th:method="delete" th:object="${subscription}">
                        <input type="hidden" name="text" th:value="*{text}" th:text="*{text}"/>
                        <button type="submit" class="deleteButton">+</button>
                    </form>
                </div>
                <form th:action="@{/member/addSubscription}" method="post" th:object="${subscription}">
                    <label for="subscription"></label>
                    <input id="subscription" type="text" name="subscription" th:field="*{text}" placeholder="add subscription"/>
                    <span class="rightContent">
                        <button type="submit" class="addButton">+</button>
                    </span>
                </form>
                <p id="error" th:if="${param.error}" th:text="${param.error}">error</p>
            </div>
    </section>
</body>
</html>
