:root {
    --purple-color: #3c4fe0;
    --white-color: #d6d7f5;
    --red-color: #e03d7b;
    --light-purple-color: #949cfa;
    --pink-color: #e03d7b;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--white-color);
    margin: 0;
}

body * {
    font-family: 'Poppins', 'sans-serif';
    color: var(--white-color);
    outline: none;
    border: none;
    margin-top: 25px;
    letter-spacing: 0.1em;
}

.hero {
    height: 445px;
    width: 350px;
    background-color: var(--purple-color);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 45%;
    left: 50%;
    border-radius: 10px;
    padding: 0 35px;
    box-shadow: 0 0 3px var(--purple-color);
    text-align: center;
}

.hero ::placeholder {
    color: var(--white-color);
}

input {
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 300;
}

.hero input:hover {
    outline: 2px solid var(--light-purple-color);
}

button {
    cursor: pointer;
}

.heroButton {
    /*margin-top: 40px;*/
    width: 100%;
    height: 50px;
    background-color: var(--white-color);
    color: var(--purple-color);
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}

.heroButton:hover {
    background-color: #eff0fd;
}


.heroButton:active {
    color: var(--white-color);
    outline: 2px dotted var(--purple-color);
    transition:0.1s;
}

.header img {
    margin-top: 10px;
    width: 90px;
    height: 90px;
}

img {
    vertical-align: middle;
    background: url(palette/white-background-color.svg);
}


img:hover {
    background: url(palette/clear-background-color.svg);
}

.header h1 {
    margin-top: 0;
    height: 20px;
}

h4 {
    font-weight: normal;
}

.hero #error {
    margin-top: 35px;
}


header {
    margin-top: 0;
    width: 100%;
    height: 50px;
    background: var(--purple-color);
    box-shadow: 0 0 3px var(--purple-color);
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 90px;
    height: 90px;
}

nav, nav * {
    margin-top: 0;
}

nav ul {
    float: right;
    margin-right: 10px;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}


#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: var(--white-color);
    margin: 6px 20px;
    transition: 0.4s;
}

.open .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    transform: rotate(45deg) translate(-6px, -7px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

.mobile-menu li {
    margin-bottom: 10px;
}

.header_logo {
    margin-top: 0;
}

section * {
    margin-right: auto;
    margin-left: auto;
}

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.container * {
    color: var(--purple-color);
    margin-top: 10px;
    text-align: center;
}

.container input {
    width: 250px;
    margin-top: 0;
    color: var(--purple-color);
    background-color: var(--white-color);
    border-bottom: 2px solid var(--purple-color);
}

.container input:hover {
    border-bottom: 2px solid var(--red-color);
}

.deleteButton, .addButton {
    padding: 0 20px;
    background-color: unset;
    font-size: 18px;
    font-weight: 600;
}

.container input {
    border-radius: 0;
}

.container ::placeholder {
    text-align: center;
    color: var(--purple-color);
}

.container button:hover {
    color: var(--red-color);
}

.addButton:active {
    transform: scale(1.4);
}

.hero a:hover {
    color: white;
}

header a {
    margin-top: 0;
}

header a img {
    height: 50px;
}

.deleteButton {
    padding: 0 20px;
    margin-right: 0;
    transform: rotate(45deg);
    text-align: right;
}

.deleteButton:active {
    transform: scale(1.4) rotate(45deg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.botLink {
    text-decoration: none;
    color: var(--red-color);
}

.botLink:hover {
    color: #ff0064;
}

.container input, .container div {
    margin-left: 60px;
}

.mainHeader {
    color: var(--red-color);
    text-decoration: underline;
}

#averageSalaryRangeChart, #vacancyNumberCharts {
    margin-top: 25px;
}

.pageSelect a {
    font-size: 15px;
    margin-right: 56px;
    text-decoration: none;
}

.pageSelect a:hover {
    color: var(--red-color);
}

.leftArrow {
    display:inline-block;
    padding: -50px;
    transform: rotate(180deg)
}

.rightArrow {
    display: inline-block;
}

.charts * {
    margin-top: 0;
}

#memberCharts * {
    margin-left: -60px;
}

#mainCharts * {
    margin-left: -100px;
}

#memberVacancyStatistics {
    margin-top: 35px;
}

#averageSalaryRangeChart {
    margin-top: -10px;
}

.guideImage img {
    width: 100%;
    max-width: 500px;
    margin-left: -60px;
}

body {
    margin-top: 0;
}
#error, .highlight {
    color: var(--red-color);
}


@media only screen and (max-width: 700px) {

    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    ul {
        margin-top: 0;
        background-color: var(--purple-color);
        list-style: none;
    }

    li {
        margin-top: 60px;
        font-size: 20px;
        margin-left: -30px;
    }

    li a {
        text-decoration: none;
    }

    li a:hover {
        color: white;
    }

}

@media only screen and (max-width: 500px) {
    .container .deleteForm {
        margin-left: 10px;
    }
}